.Word{
  display: inline;
  font-size: 1em;
}
.Line{
  margin:0px;
  padding:0px;
  font-size: 1em;
}
.Bold{
  font-weight: bold;
}
.Italic{
  font-weight: italic;
}
.Sub{
  vertical-align: sub;
  font-size: 0.8em;
}
.Sup{
  vertical-align: super;
  font-size: 0.8em;
}
#View{
  border: 1px solid black;
}